<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet" />
    <title>{{ title }}</title>
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <header>
        <div class="header-container">
            <a class="logo" href="/">
                <img src="/images/logo.svg" alt="Nawo" />
            </a>
            <nav>
                <ul>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/resume.html">Resume</a></li>
                    <li><a href="/projects.html">Projects</a></li>
                    <li><a href="/talks.html">Talks</a></li>
                    <li><a href="/fragments.html">Fragments</a></li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li>
                    <a href="https://github.com/Shine-neko/" target="_blank" title="GitHub">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.8062 5.91825C17.7408 5.83075 17.671 5.74675 17.5969 5.66658C17.6714 5.46642 17.728 5.25994 17.766 5.04961C17.8781 4.28017 17.7807 3.49445 17.4843 2.77653C17.4843 2.77653 16.5829 2.49239 14.5145 3.89683C13.6364 3.65226 12.7294 3.52936 11.8185 3.53152C10.9049 3.5299 9.99527 3.65279 9.11431 3.89683C7.04597 2.47616 6.14459 2.77653 6.14459 2.77653C5.85172 3.48686 5.7544 4.26377 5.86291 5.02525C5.9011 5.24433 5.9604 5.45913 6.03996 5.66658C5.96753 5.74777 5.8951 5.83706 5.83071 5.91825C5.23014 6.67811 4.91134 7.6256 4.92933 8.59723C4.92742 8.82767 4.93817 9.05803 4.96153 9.28727C5.21901 12.8836 7.59324 13.7198 9.85473 13.9796C9.53463 14.2798 9.31758 14.675 9.23503 15.108C9.16023 15.3967 9.12503 15.6945 9.13041 15.9928V17.056C8.23046 17.1366 7.30634 17.0045 7.02006 16.1944C6.7123 15.4191 6.20211 14.7424 5.54367 14.2362C5.49582 14.2098 5.45032 14.1793 5.40766 14.145C5.34984 13.9916 5.24735 13.8595 5.11366 13.7659C4.97998 13.6724 4.82136 13.6219 4.65866 13.621H4.65479C4.442 13.6209 4.23784 13.7059 4.08701 13.8573C3.93618 14.0087 3.85095 14.2142 3.84999 14.4288C3.84685 15.0884 4.50115 15.5142 4.76954 15.6592C5.08255 15.9774 5.33438 16.3513 5.51225 16.762C5.80541 17.5928 6.66248 18.855 9.10636 18.6909C9.10717 18.7194 9.10797 18.7464 9.10833 18.7709L9.11187 18.9882C9.11184 19.0948 9.13264 19.2004 9.17307 19.2989C9.21351 19.3974 9.27279 19.4869 9.34753 19.5623C9.42227 19.6377 9.511 19.6974 9.60865 19.7382C9.70631 19.779 9.81098 19.8 9.91667 19.8L9.91917 19.7995V19.8H13.7107C13.8164 19.8 13.9211 19.779 14.0187 19.7383C14.1164 19.6975 14.2051 19.6377 14.2798 19.5623C14.3546 19.4869 14.4139 19.3974 14.4543 19.2989C14.4947 19.2004 14.5155 19.0948 14.5155 18.9882C14.5155 18.9882 14.5214 16.4231 14.5214 15.9929C14.5268 15.6945 14.4916 15.3968 14.4168 15.108L14.4153 15.1031L14.418 15.108C14.4111 15.0796 14.4005 15.0564 14.393 15.0289C14.3031 14.6267 14.0955 14.2611 13.797 13.9795L13.8064 13.9965C13.8009 13.9915 13.7957 13.9844 13.7902 13.9795C16.0517 13.7198 18.4098 12.8674 18.6673 9.28726C18.6907 9.05802 18.7014 8.82766 18.6995 8.59722C18.7138 7.62753 18.3985 6.68214 17.8062 5.91825Z" fill="currentColor"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mlanawo-mbechezi-53b5ab44/" target="_blank" title="LinkedIn">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.86309 4.06138C6.86309 5.08938 5.94235 5.92274 4.80655 5.92274C3.67075 5.92274 2.75 5.08938 2.75 4.06138C2.75 3.03337 3.67075 2.20001 4.80655 2.20001C5.94235 2.20001 6.86309 3.03337 6.86309 4.06138Z" fill="currentColor"/>
                            <path d="M3.03124 7.29092H6.5467V17.6H3.03124V7.29092Z" fill="currentColor"/>
                            <path d="M12.2066 7.29092H8.69113V17.6H12.2066C12.2066 17.6 12.2066 14.3546 12.2066 12.3254C12.2066 11.1074 12.6363 9.8841 14.351 9.8841C16.2889 9.8841 16.2772 11.478 16.2682 12.7128C16.2563 14.3269 16.2845 15.9741 16.2845 17.6H19.8V12.1591C19.7702 8.68493 18.8348 7.0841 15.7572 7.0841C13.9296 7.0841 12.7967 7.88708 12.2066 8.61355V7.29092Z" fill="currentColor"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://bsky.app/profile/shine-neko.bsky.social" target="_blank" title="Bluesky">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 4C11 4 8.25 2 6 2C3.75 2 2 3.5 2 6.5C2 8.5 2.5 11 4 13C5.5 15 8 16.5 11 17C14 16.5 16.5 15 18 13C19.5 11 20 8.5 20 6.5C20 3.5 18.25 2 16 2C13.75 2 11 4 11 4Z" fill="currentColor"/>
                            <path d="M11 17C11 17 8.5 17.5 7 19C5.5 20.5 6 22 7.5 22C9 22 10.5 21 11 20.5C11.5 21 13 22 14.5 22C16 22 16.5 20.5 15 19C13.5 17.5 11 17 11 17Z" fill="currentColor"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; {{ "now"|date("Y") }} Nawo. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
