{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="posts-list">
        {% for post in posts %}
        <article class="blog-item">
            <h2>
                <a href="{{ post.permalink }}">{{ post.title }}</a>
            </h2>
            <span class="post-date">{{ post.created_at|date("F j, Y") }}</span>
        </article>
        {% endfor %}
    </div>
{% endblock content %}
