{% extends "layout.html.twig" %}

{% block bodyClass %}post show{% endblock %}

{% block content %}
    <article>
        <h1>{{ title }}</h1>
        <span class="post-date">{{ created_at|date("F j, Y") }}</span>

        <div class="article-post">
            {{ content | raw }}
        </div>
    </article>
{% endblock content %}
