{% extends "layout.html.twig" %}

{% block bodyClass %}post show{% endblock %}
{% block content %}
    <header class="main-content">
        <h1>{{ title }}</h1>
        <div class="post-meta">
            <span class="post-date">
                {{ created_at|date }}
            </span>
        </div>

        <div class="article-post">
            {{ content | raw }}
        </div>
    </header>
{% endblock content %}
